---
const projects = [
    {
        title: "Project Minishell",
        description: "42 Network project recreating a minimal bash shell with command history and piping",
        image: "/myWebPortfolio/images/minishell.jpg",
        link: "https://github.com/Yoneva/Minishell"
    },
    {
        title: "So_Long",
        description: "42 Network 2D maze game using MiniLibX graphics library",
        image: "/myWebPortfolio/images/so_long.jpg",
        link: "https://github.com/aymanysr/1337_projects/tree/main/so_long"
    },
    {
        title: "Photographer Portfolio",
        description: "Photographer's portfolio with a CMS",
        image: "/myWebPortfolio/images/image.png",
        link: "https://github.com/aymanysr/photographer-portfolio"
    },
    {
        title: "HBNB",
        description: "Airbnb clone from ALX Software engineering program",
        image: "/myWebPortfolio/images/hbnb.png",
        link: "https://github.com/aymanysr/AirBnB_clone"
    }
];
---
<section>
    <h2 class="font-semibold text-2xl tracking-tight mb-4">Personal Projects</h2>
    <p class="text-slate-700 text-lg">Below is a selection of recent projects that I've worked on.</p>
    <div class="lg:w-[170%] lg:-ml-[35%] grid grid-cols-1 md:grid-cols-2 grid-flow-dense gap-8 mt-16">
        {projects.map(project => (
            <a class="flex flex-col justify-center bg-slate-100 hover:bg-slate-200/70 transition-colors rounded-xl p-8" href={project.link} target="_blank" rel="noopener noreferrer">
                <div class="flex justify-center">
                    <img loading="lazy" width="450" height="240" decoding="async" class="bg-cover rounded-lg" style="color:transparent" src={project.image} alt={project.title}>
                </div>
                <h3 class="flex justify-center text-slate-700 font-semibold tracking-tight text-xl mt-4">{project.title}</h3>
                <p class="flex justify-center text-slate-500 text-base">{project.description}</p>
            </a>
        ))}
    </div>
    <a class="group bg-slate-950 hover:bg-slate-800 transition-colors inline-block mt-8 mb-8 font-mono text-xs font-semibold rounded-full px-8 py-3 text-white" href="/myWebPortfolio/projects" target="_blank" rel="noopener noreferrer">
        View all projects
        <span class="inline-block group-hover:translate-x-2 transition-transform">→</span>
    </a>
</section>